# Base OS image to use to create a cluster of different
# nodes
resource "libvirt_volume" "os_image" {
  name   = format("%s-%s", var.hostname, "terraform")
  source = pathexpand(var.disk_source)
  pool   = var.pool_name
  format = "qcow2"
}

{% if data_disks is defined %}
{% for disk in data_disks %}
# Additional data disk n. {{ loop.index }}
resource "libvirt_volume" "data_disk_{{ loop.index }}" {
  name = format("%s-%s-%s-%d", var.hostname, "terraform", "data_disk", "{{ loop.index }}")
  pool = "{{ data_disks[disk].pool }}"
  size = {{ data_disks[disk].size * 1024 * 1024 * 1024 }}
  format = "qcow2"
}

{% endfor %}
{% endif %}
