# variables that can be overriden
#
#
#
variable "cpu" { default = {{ cpu }} }
variable "disk_source" { default = "{{ disk_source }}" }
variable "hostname" { default = "{{ inventory_hostname }}" }

variable "memory_mb" { default = {{ memory }} }
variable "provider_uri" { default = "{{ provider_uri }}" }
variable "pool_name" { default = "{{ pool_name }}" }

variable "ssh_public_key" { default = "{{ ssh_public_key }}" }

# instance the provider
provider "libvirt" {
  uri = var.provider_uri
}
