name: Ansible Lint  # feel free to pick your own name

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Lint Ansible Playbook
      uses: ansible/ansible-lint-action@master
      with:
        targets: "main.yml"
        args: ""

    - name: Run ansible-later
      uses: patrickjahns/ansible-later-action@master
      with:
        path: tasks
